<!DOCTYPE html>

{% load i18n %}
{% load staticfiles %}

<html>
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {% endblock %}</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <!-- end here -->

    <link href="https://fonts.googleapis.com/css?family=Oswald|Slabo+27px" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- recaptcha -->
    <script src='https://www.google.com/recaptcha/api.js'></script>

</head>
<body>

<!-- Logo -->
    <nav class="navbar navbar-default navbar-fixed-top sticky">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-left" href="{% url 'login' %}"><img src="{% static 'img/logo1.png' %}" height="55px;"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'login' %}">
                {% trans "Login" %}
            </a></li>
            <li><a href="{% url 'sign_up' %}">
                {% trans "Sign up" %}
            </a></li>
            <li><a href="{% url 'about' %}">
                {% trans "About" %}
            </a></li>

            <li>
            <!-- language section -->
            <form action="{% url 'set_language' %}" method="post" class="navbar-form navbar-left"> {% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}" />
                <select name="language" class="form-control" onchange="this.form.submit()">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% for lang in LANGUAGES %}
                        <option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %} selected="selected"{% endif %}>
                            {{ lang.1 }} ({{ lang.0 }})
                        </option>
                    {% endfor %}
                </select>
            </form>
            </li>


          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->

<div class="container-fluid">

    <main role="main">
        <div class="container">
            {% block content %}

            {% endblock %}
        </div>
    </main>

     <!-- Django messages -->
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          {{ message }}
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    {{ error }}
                {% endfor %}
            {% endfor %}
        </div>
        {% endfor %}
    {% endif %}


</div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>