{% extends 'base.html' %}

{% load i18n %}
{% block title %}
    {% trans "Forgot password" %}
{% endblock %}


{% block content %}
    {% if request.user.is_authenticated %}
    <script>
        window.location.replace("/home");
    </script>
    {% else %}
        <div class="container">
            <div class="row">
                <div class="col-md-offset-3 col-md-5">
                    <div class="form-login">
                        <h2>{% trans "Forgot password?" %}</h2>
                        <hr>
                        <form method="post">{% csrf_token %}
                            <div class="wrapper">
                                {{ form.email }}
                                <br>
                                <button type="submit" class="btn btn-primary btn-md">{% trans "Submit" %}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script>
            document.getElementsByName('email')[0].placeholder='{% trans "Email" %}';
            document.getElementById("id_email").classList.add("form-control", "input-sm", "chat-input");
        </script>
    {% endif %}
{% endblock %}
